In [9]:
import pandas as pd

In [11]:
data_folder = '../data/accidents-in-france-from-2005-to-2016/'

caracteristics = pd.read_csv(data_folder + 'caracteristics.csv', encoding='latin-1')

b:\univer\m2\techniquesapprentissageautomatique\tp\tp-ans\tp-ans\env\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
places = pd.read_csv(data_folder + 'places.csv', encoding='latin-1')

b:\univer\m2\techniquesapprentissageautomatique\tp\tp-ans\tp-ans\env\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
caracteristics.head()

,Num_Acc,an,mois,jour,hrmn,lum,agg,int,atm,col,com,adr,gps,lat,long,dep
0,201600000001,16,2,1,1445,1,2,1,8.0,3.0,5.0,"46, rue Sonneville",M,0.0,0,590
1,201600000002,16,3,16,1800,1,2,6,1.0,6.0,5.0,1a rue du cimetière,M,0.0,0,590
2,201600000003,16,7,13,1900,1,1,1,1.0,6.0,11.0,NaN,M,0.0,0,590
3,201600000004,16,8,15,1930,2,2,1,7.0,3.0,477.0,52 rue victor hugo,M,0.0,0,590
4,201600000005,16,12,23,1100,1,2,3,1.0,3.0,11.0,rue Joliot curie,M,0.0,0,590

In [80]:
caracteristics.columns

Index(['Num_Acc', 'an', 'mois', 'jour', 'hrmn', 'lum', 'agg', 'int', 'atm',
       'col', 'com', 'adr', 'gps', 'lat', 'long', 'dep'],
      dtype='object')

In [14]:
places.head()

,Num_Acc,catr,voie,v1,v2,circ,nbv,pr,pr1,vosp,prof,plan,lartpc,larrout,surf,infra,situ,env1
0,201600000001,3.0,39,NaN,NaN,2.0,0.0,NaN,NaN,0.0,1.0,3.0,0.0,0.0,1.0,0.0,1.0,0.0
1,201600000002,3.0,39,NaN,NaN,1.0,0.0,NaN,NaN,0.0,1.0,2.0,0.0,58.0,1.0,0.0,1.0,0.0
2,201600000003,3.0,1,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,3.0,0.0,68.0,2.0,0.0,3.0,99.0
3,201600000004,4.0,0,NaN,NaN,2.0,0.0,NaN,NaN,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,99.0
4,201600000005,4.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0

In [15]:
users = pd.read_csv(data_folder + 'users.csv', encoding='latin-1')

In [16]:
users.head()

,Num_Acc,place,catu,grav,sexe,trajet,secu,locp,actp,etatp,an_nais,num_veh
0,201600000001,1.0,1,1,2,0.0,11.0,0.0,0.0,0.0,1983.0,B02
1,201600000001,1.0,1,3,1,9.0,21.0,0.0,0.0,0.0,2001.0,A01
2,201600000002,1.0,1,3,1,5.0,11.0,0.0,0.0,0.0,1960.0,A01
3,201600000002,2.0,2,3,1,0.0,11.0,0.0,0.0,0.0,2000.0,A01
4,201600000002,3.0,2,3,2,0.0,11.0,0.0,0.0,0.0,1962.0,A01

In [17]:
vehicles = pd.read_csv(data_folder + 'vehicles.csv', encoding='latin-1')

In [18]:
vehicles.head()

        Num_Acc  senc  catv  occutc  obs  obsm  choc  manv num_veh
0  201600000001   0.0     7       0  0.0   0.0   1.0   1.0     B02
1  201600000001   0.0     2       0  0.0   0.0   7.0  15.0     A01
2  201600000002   0.0     7       0  6.0   0.0   1.0   1.0     A01
3  201600000003   0.0     7       0  0.0   1.0   6.0   1.0     A01
4  201600000004   0.0    32       0  0.0   0.0   1.0   1.0     B02

In [53]:
holidays = pd.read_csv(data_folder + 'holidays.csv', encoding='latin-1')
holidays.head()

           ds                holiday
0  2005-01-01               New year
1  2005-03-28          Easter Monday
2  2005-05-01             Labour Day
3  2005-05-05     Ascension Thursday
4  2005-05-08  Victory in Europe Day

In [32]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

te = TransactionEncoder()

In [83]:
ms = caracteristics.drop(columns=["an","mois","jour", "dep","adr", "lat", "long", "gps"])

In [ ]:
pl = places.drop(columns=["V1", "V2","voie","pr"])

In [85]:
merged1 = ms.merge(places, on='Num_Acc')
merged2 = merged1.merge(users, on='Num_Acc')
merged3 = merged2.merge(vehicles, on='Num_Acc')
# merged3 = merged3.merge(holidays, on='ds')

MemoryError: Unable to allocate 96.1 MiB for an array with shape (15, 839985) and data type float64

In [57]:
merged3.head(3)

,Num_Acc,an,mois,jour,hrmn,lum,agg,int,atm,col,...,an_nais,num_veh_x,senc,catv,occutc,obs,obsm,choc,manv,num_veh_y
0,201600000001,16,2,1,1445,1,2,1,8.0,3.0,...,1983.0,B02,0.0,7,0,0.0,0.0,1.0,1.0,B02
1,201600000001,16,2,1,1445,1,2,1,8.0,3.0,...,1983.0,B02,0.0,2,0,0.0,0.0,7.0,15.0,A01
2,201600000001,16,2,1,1445,1,2,1,8.0,3.0,...,2001.0,A01,0.0,7,0,0.0,0.0,1.0,1.0,B02

In [76]:
te_ary = te.fit(merged3).transform(merged3)
df = pd.DataFrame(te_ary, columns=te.columns_)
# apriori(df, min_support=0.6)
freq_items = apriori(df, min_support=0.000001, use_colnames=True,verbose=1, low_memory=True)
freq_items

Processing 8 combinations | Sampling itemset size 32

     support   itemsets
0   0.000001        (_)
1   0.000005        (a)
2   0.000004        (c)
3   0.000003        (e)
4   0.000001        (g)
5   0.000001        (h)
6   0.000002        (i)
7   0.000003        (l)
8   0.000003        (m)
9   0.000004        (n)
10  0.000004        (o)
11  0.000003        (p)
12  0.000004        (r)
13  0.000003        (s)
14  0.000004        (t)
15  0.000003        (u)
16  0.000003        (v)
17  0.000002     (c, a)
18  0.000001     (l, a)
19  0.000001     (a, n)
20  0.000001     (p, a)
21  0.000002     (r, a)
22  0.000003     (t, a)
23  0.000001     (c, l)
24  0.000001     (c, o)
25  0.000001     (c, p)
26  0.000002     (c, t)
27  0.000001     (c, u)
28  0.000001     (e, n)
29  0.000001     (e, v)
30  0.000001     (l, o)
31  0.000001     (l, p)
32  0.000001     (m, n)
33  0.000001     (u, m)
34  0.000001     (v, n)
35  0.000001     (o, s)
36  0.000001     (r, p)
37  0.000001     (t, r)
38  0.000001     (t, u)
39  0.000001  (c, t, a)
40  0.000001  (t, r, a)

In [78]:
df

,1,2,A,N,_,a,b,c,d,e,...,n,o,p,r,s,t,u,v,x,y
0,False,False,True,True,True,False,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553971,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3553972,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3553973,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3553974,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3553975,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [77]:
freq_items.head(3)

    support itemsets
0  0.000001      (_)
1  0.000005      (a)
2  0.000004      (c)

In [70]:
from mlxtend.frequent_patterns import association_rules, fpmax
rules = association_rules(freq_items, metric="confidence", min_threshold=0.6)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(t),(a),0.000004,0.000005,0.000003,0.769231,143885.668016,0.000003,4.333310
1,"(c, t)",(a),0.000002,0.000005,0.000001,0.833333,155876.140351,0.000001,5.999968
2,"(c, a)",(t),0.000002,0.000004,0.000001,0.833333,227818.974359,0.000001,5.999978
3,"(t, r)",(a),0.000001,0.000005,0.000001,1.000000,187051.368421,0.000001,inf

In [75]:
freq_items1 = fpmax (df, min_support=0.000001, use_colnames=True)
freq_items1

     support   itemsets
0   0.000001        (_)
1   0.000001        (h)
2   0.000001        (g)
3   0.000002        (i)
4   0.000001     (c, l)
5   0.000001     (l, o)
6   0.000001     (l, p)
7   0.000001     (l, a)
8   0.000001     (u, m)
9   0.000001     (m, n)
10  0.000001     (c, u)
11  0.000001     (t, u)
12  0.000001     (o, s)
13  0.000001     (e, v)
14  0.000001     (e, n)
15  0.000001     (v, n)
16  0.000001     (r, p)
17  0.000001     (c, p)
18  0.000001     (p, a)
19  0.000001     (a, n)
20  0.000001  (t, r, a)
21  0.000001  (c, t, a)
22  0.000001     (c, o)